# Ignorar archivos y carpetas de sistema y temporales
/vendor/
/node_modules/
.env
.DS_Store
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.idea/
*.log
*.sqlite
.vscode/launch.json
biblioges-installer.tar.gz
