# Archivos de configuración local
.env
.env.*
!.env.example

# Directorios de dependencias
/vendor/
/node_modules/

# Archivos de caché y logs
/logs/*
*.log
/cache/*
*.cache

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo
*~

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de compilación
/public/build/
/public/hot/
/public/storage
/storage/*.key

# Archivos de pruebas
/coverage/
.phpunit.result.cache

# Archivos temporales
*.tmp
*.temp
*.bak
storage/
