{% extends "base.twig" %}

{% block title %}Reporte de Bibliografías{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Reporte de Bibliografías</h3>
                </div>
                <div class="card-body">
                    <p>Este módulo de reportes de bibliografías está en desarrollo.</p>
                    <p>Aquí se mostrarán las estadísticas y reportes relacionados con las bibliografías del sistema.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 